{erl_opts, [
   {parse_transform, lager_transform}
]}.

{lib_dirs, []}.

{deps, [
   lager,
   datum,
   pipes

  ,{pts,  ".*",
      {git, "https://github.com/fogfish/pts", {branch, master}}
   }

  ,{ek,  ".*",
      {git, "https://github.com/fogfish/ek", {branch, master}}
   }

  ,{restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   }

  ,{permit, ".*",
      {git, "https://github.com/fogfish/permit", {branch, master}}
   }

  ,{erlcloud, ".*",
      {git, "https://github.com/erlcloud/erlcloud", {branch, master}}
   }

  ,{getopt, ".*",
      {git, "https://github.com/jcomellas/getopt.git", {branch, master}}
   }

  ,{htcodec, ".*",
      {git, "https://github.com/fogfish/htcodec.git", {branch, master}}
   }

  ,{s3am, ".*",
      {git, "https://github.com/fogfish/s3am.git", {branch, master}}
   }
]}.

%%
%%
{escript_main_app       , signin}.
{escript_emu_args       , "%%! +sbtu +A0 -noinput\n"}.
{escript_incl_apps      , [getopt, jsx, knet, pns, datum, pipe, htstream, feta]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "/tmp/test/oauth2/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.

