%%
%% include vm and extended bootstrap to release, {oauth2, "-SNAPSHOT"}
{include_erts,          true}.
{extended_start_script, true}.

%%
%% release, {oauth2, "-SNAPSHOT"} development mode
{dev_mode,             false}.

%%
%% release, {oauth2, "-SNAPSHOT"} configuration
{vm_args,      "rel/vm.args"}.
{sys_config,   "rel/sys.config"}.

%%
%% release, {oauth2, "-SNAPSHOT"} content definition
{release, {oauth2, "-SNAPSHOT"}, [
   oauth2
]}.
