{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src", "./src/style"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "error",
    "semi": ["off", "always"],
    "react/prop-types": "off"
  }
}