@import "../node_modules/dress-code/dist/css/dress-code.min.css";

.dc-page 
{
   height: calc(100% - 81px);
   overflow: auto;
}

.dc-tab--header
{
   margin-bottom: 24px;
   display: flex;
}

.dc-tab__element--right
{
  margin-left: auto;
  margin-right: 18px;
}

.dc-dialog 
{
   max-width: 420px;
   margin: 40px auto;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   padding: inherit;
   z-index: inherit;
   transition: inherit;
   transform: inherit;
}

.dc-dialog__content 
{
   margin: 0;
}


input 
{
   width: 100%;
}


.dc-tab__element--header
{
  font-weight: bold;
  color: #333;
}

.dc-h2
{
   display: flex;
}

.dc-h2 button
{
  margin-left: auto;
}

.oauth-key
{
  word-wrap: break-word;
}
