[

%%
%% logger config
{lager, [
   {handlers, [
      {lager_console_backend, [notice, {lager_default_formatter, [time, " [",severity,"] ", message, "\n"]}]}
     ,{lager_file_backend,    [{file, "log/access.log"}, {level, none}, {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}]}
   ]},
   {traces, [
      {{lager_file_backend, "log/access.log"}, [{module, knet_http}], notice}
   ]}
]},

%%
%% rest api
{restd, [
   {default, [
      {port,  "http://*:8080"},
      {pool, 10},
      {route, [
         %% 
         %% authorization grant 
         {"/oauth2/authorize",   oauth2_restapi_auth}
        ,{"/oauth2/signup",      oauth2_restapi_signup}

         %%
         %% token endpoint: issue and validate
        ,{"/oauth2/token",       oauth2_restapi_token}
        ,{"/oauth2/introspect",  oauth2_restapi_introspect}

         %%
         %% application registration
        ,{"/oauth2/client",      oauth2_restapi_client}
        ,{"/oauth2/client/:id",  oauth2_restapi_client}
        ,{"/oauth2/account",     oauth2_restapi_account}

         %% 
         %% static resources
        ,{"/css/:file",          restd_api_webapp, [{htdoc, oauth2}, {path, css}]}
        ,{"/js/:file",           restd_api_webapp, [{htdoc, oauth2}, {path, js}]}
        ,{"/widget/:file",       restd_api_webapp, [{htdoc, oauth2}, {path, widget}]}
      ]}
   ]}
]},

%%
%%
{permit, [
   {issuer,  "none"}
  ,{secret,  "xxxx-xxxx-xxxx-xxxx"}

  ,{backend, oauth2_ddb_pubkey}
  ,{storage, "http://localhost:8000/oauth2pubkey?hashkey=access"}
]},

%%
%%
{oauth2, [
   {db_url_client,  "http://localhost:8000/oauth2client?hashkey=access"}
  ,{db_url_account, "http://localhost:8000/oauth2account?hashkey=access"}
]}

].